.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.circle-row {
    display: inline;
    justify-content: center;
    width: 25%;
    border-radius: 50%;
    border-style: solid;
    border-color: grey;
    border-width: 18px;
}
.hellscape-of-my-own-creation {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}